header{
    background: #bbbbbb;
    padding: 20px 0px;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 110px;
    right: 0px;
}

.menu li{
    display: inline;
    margin: 0 0 0 15px;
}

header li a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

header li a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

main{
    width: 99%;
    margin: 5px auto;
}

.principal{
    text-align: center;
    background: #CCCCCC;
    padding: 30px;
}

.titulo_centralizado{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: #ff0000;
    /*As cores hexadecimais é equivalente ao RGB, os dois primeiro algarimos é pro vermelho, os dois do meio para o verde, e os dois últimos para o azul*/
    /*0 é igual ao mínimo de cores (preto)*/
    /*f é igual ao máximo de cores (branco)*/
    /*Juntando esses conceitos, temos as cores hexadecimais, verde seria 00ff00 e azul 0000ff*/
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.itens{
    font-style: italic;
}

main ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

main ul li{
    font-size: 19px;
}

.img_beneficios{
    width: 50%;
}

h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

footer{
    background: url(images/bg.jpg);
    text-align: center;
    padding: 40px 0px;
}

.text_footer{
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}